$clr-gray-32: #323232;
$clr-gray-33: #333333;
$clr-gray-44: #444444;
$clr-gray-45: #454545;
$clr-gray-66: #666666;
$clr-gray-71: #717171;
$clr-gray-99: #999999;
$clr-gray-2d: #2d2d2d;
$clr-gray-4a: #4A4949;
$clr-gray-5f: #5f5f5f;
$clr-gray-bd: #bdbdbd;
$clr-gray-ca: #cacaca;
$clr-gray-cc: #cccccc;
$clr-gray-d5: #d5d5d5;
$clr-gray-f1: #f1f1f1;
$clr-gray-f4: #f4f4f4;
$clr-red-f7: #F74F77;
$clr-red-f6: #f6416c;
$clr-red-f8: #f6416c;
$clr-red-b0: #b02e4d;
$clr-br: #666;
$clr-black: #000;
$clr-white: #fff;
$color_1: #666;
$color_2: #555;
$color_3: #4a4a4a;
$color_4: #003399;
$color_5: #f6416c;
$color_6: #fff;
$font-family_1: "Roboto", sans-serif;
$font-family_2: Pe-icon-7-stroke;
$font-family_3: inherit;
$background-color_1: #dedede;
$border-color_1: gray;