$clr-gray-33: #333333;
$clr-gray-bd: #bdbdbd;
$clr-gray-bd: #bdbdbd;
$clr-gray-ca: #cacaca;
$clr-gray-45: #454545;
$clr-gray-5f: #5f5f5f;
$clr-gray-32: #323232;
$clr-red-f6: #f6416c;
$clr-br: #666;
$clr-white: #fff;