.page-banner-area {
  position: relative;
  background-color: #666;
  background: 
  /* top, transparent red */ linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */ url(./images/1.jpg);
  background-position: center center;
  margin-bottom: 60px;
  .page-banner-area-container {
    height: 340px;

    max-width: 1200px;
    .page-banner-area-text {
      position: absolute;
      h1 {
        font-size: 3rem;
      }
    }
  }
}

.page-map-area {
  .page-map-area-container {
    width: 80%;
    .page-map-area-brand-info {
      .margin-bottom-2-5 {
        margin-bottom: 2.5rem;
      }
      .brand-info {
        border: 1px solid #dedede;
        .brand-header {
          border-bottom: 1px solid #dedede;
          padding: 0.7rem 1rem;
          font-weight: bold;
          font-size: 1.3rem;
        }
        .brand-content {
          padding: 1.2rem;
          .margin-bottom-0-5 {
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
          }
          .text-gray {
            color: #999999;
            margin-left: 0.3rem;
          }
        }
      }
      .top-rated-info {
        border: 1px solid #dedede;
        .brand-header {
          border-bottom: 1px solid #dedede;
          padding: 0.7rem 1rem;
          font-weight: bold;
          font-size: 1.3rem;
        }
        .brand-content {
          padding: 1.2rem;
          .margin-bottom-0-5 {
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
          }
          .text-gray {
            color: #999;
            margin-left: 0.3rem;
          }
        }
      }
      .brand-discount-info {
        .brand-header {
          padding: 0.7rem 1rem;
          font-weight: bold;
          font-size: 1.3rem;
        }
        .brand-content {
          padding: 1.2rem;
          .margin-bottom-0-5 {
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
          }
          .text-gray {
            color: #999999;
            margin-left: 0.3rem;
          }
        }
      }
    }
    .page-map-area-map-info {
      .map-area-container {
        .map-contact-info {
          .map-contact-info-container {
            color: #716c6c;

            ul {
              list-style: outside none none;
              margin: 0;
              padding: 0;
              li {
                border-bottom: 1px solid #e8e8e9;
                float: left;
                font-size: 12px;
                line-height: 40px;
                list-style: outside none none;
                margin: 0;
                padding: 0;
                width: 100%;
              }
            }
          }
          textarea {
            border: 1px solid #ccc;
            border-radius: 0;
            height: 180px;
            padding: 20px;
            width: 100%;
          }
          button {
            background: #252525 none repeat scroll 0 0;
            border: medium none;
            border-radius: 0;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            height: 40px;
            margin-top: 16px;
            padding: 0 15px;
            text-transform: uppercase;
            transition: all 0.3s ease 0s;
          }
        }
      }
    }
  }
}

.they-are-with-us-area {
  background-color: #f8f8f8;
  .they-are-with-us-container {
    width: 80%;
    .they-are-with-us-text-area {
      .right-line {
        display: inline-block;
        width: 20px;
        height: 62px;
        border: 2px solid #000;
        border-right: 0;
      }
      .left-line {
        width: 20px;
        height: 62px;
        border: 2px solid #000;
        border-left: 0;
        display: inline-block;
      }
    }
    .they-are-with-us-logos-area {
      .logo-images-container {
        position: relative;
        .single-logo {
          border-right: 2px solid #fff;
          float: left;
          height: 150px;
          line-height: 150px;
          text-align: center;
          width: 33.33%;
        }
      }
    }
  }
}

.footer-container {
  background-color: #666;
  margin-top: 5rem;

  .footer-content {
    background: 
  /* top, transparent red */ linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      /* bottom, image */ url(./images/footer-bg.jpg);
    background-position: center center;
    .footer-content-container {
      margin: 0 auto;
      width: 80%;
      .footer-content-text {
        color: #fff;
        font-size: 0.8rem;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
          "Helvetica Neue", sans-serif;
        text-align: start;
        .footer-white-line {
          width: 35px;
          height: 0;
          border: 1.7px solid #fff;
          border-radius: 5px;
        }
        .icon {
          font-size: 1rem;
        }
        .input-sty {
          border: none !important;
          border-radius: 0;
          margin-top: 1rem;
          color: $clr-white;
          font-size: 0.8rem;
        }
        input,
        textarea {
          background-color: #333;
          outline: none !important;
          border: 0;
        }
        button {
          background-color: $clr-red-f6;
        }
      }
    }
  }
  .footer-copyright {
    background: #292727 none repeat scroll 0 0;
    .footer-copyright-container {
      width: 80%;
      margin: 0 auto;
      .copyright-links {
        ul li a i {
          display: inline-block;
          width: 35px;
          height: 35px;
          background-color: $clr-white;
          &:hover {
            background-color: $clr-red-f8;
            color: $clr-white;
          }
        }
      }
    }
  }
}

.cus-h3 {
  border-bottom: 2px solid #e8e8e9 !important;
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;
  margin-top: 50px;
}

.contact-input {
  border: 1px solid #ccc;
  border-radius: 0;
  height: 50px;
  margin-bottom: 16px;
  padding-left: 20px;
  width: 100%;
}
