.section-item{
    margin-bottom: 80px;
}

.section-head{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    >.section-title{
        padding: 0 30px 20px;
        border: 4px double  $clr-black;
        color: $clr-gray-33;
        border-top: 0;
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        line-height: 18px;
        margin: 0;
    }
}

.shpck-best-sel {
    .best-sel-cart{
        margin-bottom: 45px;
    }
    .cart-info {
        margin-top: 20px;
        padding: 0 20px;
        text-align: left;
        .info{
            text-align: start !important;
        }
    }
}

.new{
    display: inline-block;
    background: $clr-red-f6;
    border: 1px solid $clr-red-f6;
    color: $clr-white;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    line-height: 28px;
    padding: 0 16px;
    text-transform: uppercase;
}