.shpck-slider{
    .cus-slider{
        display: flex;
        overflow: hidden;
        .slider-itm{
            min-width: 100%;

            img{
                width: 100%;
            }
        }
    }

    .control{
            >.fa-angle-right{
                content: "\f053" !important;
            }
    }
}